<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Le Petit Rho Bert</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main2.css">
        <link rel="stylesheet" href="/css/main2_mq.css">

    </head>
    
    <body>
        <div id="site_wrap">
          
            <a href="/" id="site_header">home</a>

            <div id="site_content">
                    {{ content }}
            </div>
            
            <div id="site_footer">
                <p> nesderl<br \>
                nesderl_at_gmail_dot_com </p>
            </div>

        </div>
    </body>
</html
